name: Lint checks
on: [push]
jobs:
    eslint:
        name: Check using eslint
        runs-on: ubuntu-latest
        permissions:
            id-token: write
            contents: read
        steps:
            - name: Checkout
              uses: actions/checkout@v5

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 24
                  cache: pnpm

            - name: Install Yarn dependencies
              run: pnpm install --frozen-lockfile

            - name: Run ESLint
              run: pnpm run lint
